# Prerequisites
*.d

# Environments
.venv
logs

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Local LLMs
!/models/bobo/bobo-embed-large-v1-f16.gguf
!/models/boogr/boogr-small-en-v1.5-q8_0.gguf
!/models/nomi/nomnom-embed-text-v1.5.Q4_K_M.gguf
