FreeSimpleGUI
pydantic
typing
pandas
numpy
nltk
spacy
tiktoken
python-docx
bs4
beautifulsoup4
openai
gensim
pathlib
scipy
scikit-learn
PyMuPDF
transformers
ipywidgets
ipython
jupyterlab
isort
langchain
textblob
tqdm
sentence-transformers