jupytext
beautifulsoup4
chromadb
docx
FreeSimpleGUI
fitz
gensim
ipywidgets
ipython
isort
jupyterlab==4.0.2
matplotlib
numpy
nltk
openai
langchain
langchain-community
PyMuPDF
python-docx
pathlib
pydantic
pandas
sentence-transformers
scipy
scikit-learn
spacy
tiktoken
transformers
textblob
tqdm