beautifulsoup4
chromadb
docx
docx2txt
freesimplegui
fitz
frontend
gensim
ipywidgets
ipython
jupytext
jupyterlab
langchain
langchain-community
langchain-openai
matplotlib
nltk
openpyxl
openai
PyMuPDF
python-docx
pathlib
pydantic
pandas
pinecone
sentence-transformers
scipy
scikit-learn
spacy
tiktoken
transformers
textblob
tqdm